

/* container de la liste des utilisateurs */
.user-container {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*  les colonnes */
.user-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Classe pour chaque colonne d'utilisateur */
.user-column {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Style des images d'utilisateur */
.user-column img {
  max-width: 100%;
  border-radius: 50%;
}

/*  les en-têtes  */
.user-column h2 {
  margin-top: 10px;
  font-size: 24px;
}

/*  les informations de chaque utilisateur */
.user-column p {
  margin: 5px 0;
  font-size: 16px;
}

/*  conteneur principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
